body {
  height: 100vh;
  background: #f5f7fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; 
  padding: 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.bod {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  align-items: center; 
  justify-content:center; 
  max-width: 600px;
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 1rem;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}

.add-btn {
  background-color: #007bff;
  color: white;
}

.controls button:nth-child(1) {
  background-color: #28a745;
  color: white;
}
.controls button:nth-child(2){
  background-color:#28a745 ;
  color:white
}
.controls button:nth-child(3) {
  background-color: #ffc107;
  color: white;
}

.edit button:nth-child(2) {
  background-color: #dc3545;
  color: white;
}
li {
  background: #f0f0f0;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit button:nth-child(3){
  background-color: #007bff;
  color:white;
}
li input[type="checkbox"] {
  margin-right: 80px;
}
.controls {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
select {
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
.butt{
  margin-left:50px;
}
.edit{
  margin-right:20px;
  margin-left:-20px
}